# virtual environments
.venv/
venv/
env/

# python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# raw html / large raw data
data_raw/

# trained models (large binary files)
models/*.joblib

# large processed data files
data_processed/model_data/*.csv

# IDE
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db
nul
